# بيئة بايثون الافتراضية
venv/

# ملفات الكاش
__pycache__/
*.pyc
*.pyo
*.pyd

# قاعدة بيانات SQLite (لو استخدمتها يومًا ما)
*.sqlite3
db.sqlite3

# ملفات static المجمّعة (تتولّد من collectstatic)
staticfiles/

# ملفات media اللي يرفعها المستخدمون (اختياري)
media/

# ملفات إعدادات خاصة (لو استخدمت .env لاحقًا)
.env
